@model BedCheck.Models.DTOs.PacienteDto

@{
    ViewData["Title"] = "Crear Paciente";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo paciente</h3>
<form method="POST" asp-action="Create">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre del paciente" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Edad"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Edad" class="form-control" placeholder="Ingresa la edad del paciente" />
                    <span asp-validation-for="Edad" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Sexo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Sexo" class="form-control" placeholder="Ingresa la edad del paciente" />
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Enfermedades"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Enfermedades" class="form-control" placeholder="Ingresa la lista de enfermedades del paciente" />
                    <span asp-validation-for="Enfermedades" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Tratamientos"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Tratamientos" class="form-control" placeholder="Ingresa la lista de tratamientos del paciente" />
                    <span asp-validation-for="Tratamientos" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group-row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}