@model BedCheck.Models.Paciente

@{
    ViewData["Title"] = "Crear Paciente";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo paciente</h3>
<form method="POST" asp-action="Create">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="StrNombrePaciente"></label>
                </div>
                <div class="col-8">
                    <input asp-for="StrNombrePaciente" class="form-control" placeholder="Ingresa el nombre del paciente"  />
                    <span asp-validation-for="StrNombrePaciente" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IntEdadPaciente"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IntEdadPaciente" class="form-control" placeholder="Ingresa la edad del paciente"/>
                    <span asp-validation-for="IntEdadPaciente" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="StrSexoPaciente"></label>
                </div>
                <div class="col-8">
                    <input asp-for="StrSexoPaciente" class="form-control" placeholder="Ingresa la edad del paciente"  />
                    <span asp-validation-for="StrSexoPaciente" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ListEnfermedades"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ListEnfermedades" class="form-control" placeholder="Ingresa la lista de enfermedades del paciente"  />
                    <span asp-validation-for="ListEnfermedades" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ListTratamiento"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ListTratamiento" class="form-control" placeholder="Ingresa la lista de tratamientos del paciente"  />
                    <span asp-validation-for="ListTratamiento" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group-row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}