version: '3.4'

services:
  bedcheckdb: # El contenedor de la Base de Datos
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: bedcheck_sql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Password_123!  # <--- 1. Contraseña FUERTE
    ports:
      - "1433:1433"

  bedcheck: # Tu Web
    image: ${DOCKER_REGISTRY-}bedcheck
    build:
      context: .
      dockerfile: BedCheck/Dockerfile
    ports:
      - "8080:8080" # O el puerto que prefieras
    environment:
      # <--- 2. La MISMA contraseña aquí abajo. Y fíjate en TrustServerCertificate=True
      - ConnectionStrings__ConexionSQL=Server=bedcheckdb;Database=BedCheckBD_Docker;User Id=sa;Password=Password_123!;TrustServerCertificate=True;MultipleActiveResultSets=true
    depends_on:
      - bedcheckdb