@model BedCheck.Models.ViewModels.CamaVM

@{
    ViewData["Title"] = "Editar Cama";
}

<br />
<br />
<h3 class="text-center">Editar cama</h3>
<form method="POST" asp-action="Edit" enctype="multipart/form-data">

    @* se envia el ID de la cama como campo oculto *@

    <input type="hidden" asp-for="Cama.IdCama" />

    <div class="row px-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cama.NombreCama"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cama.NombreCama" class="form-control" placeholder="Ingresa el nombre de la cama" />
                    <span asp-validation-for="Cama.NombreCama" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cama.EstadoCama"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cama.EstadoCama" class="form-control" placeholder="Ingresa el Estado de la cama" />
                    <span asp-validation-for="Cama.EstadoCama" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cama.TipoCama"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cama.TipoCama" class="form-control" placeholder="Ingresa el tipo de la cama" />
                    <span asp-validation-for="Cama.TipoCama" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label for="Habitacion">Habitacion</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Cama.HabitacionId, Model.ListaHabitaciones,
                             "-Por favor seleccione una habitacion-", new { @class = "form-control" })
                    <span asp-validation-for="Cama.HabitacionId" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cama.UrlImagen"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="Cama.UrlImagen" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Editar Cama</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atrás</a>
                </div>
            </div>
        </div>

        <div class="col-4 pt-3">
            <img src="@Model.Cama.UrlImagen" width="300px" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}