@{
    ViewData["Title"] = "Lista de Camas";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">Lista de Camas</h2>
        </div>
        <div class="col-4 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i>Crear nueva cama</a>
        </div>
    </div>

    <br /> <br />

    <table id="tblCamas" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ocupada</th>
                <th>Estado</th>
                <th>Tipo</th>
                <th>Imagen</th>
                <th>Habitación</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script src="~/js/cama.js"></script>
}
