@model BedCheck.Models.DTOs.HabitacionDto

@{
    ViewData["Title"] = "Crear Habitacion";
}

<br />
<br />
<h3 class="text-center">Crear una nueva habitacion</h3>
<form method="POST" asp-action="Create">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                        <label asp-for="NumHabitacion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NumHabitacion" class="form-control" placeholder="Ingresa el numero de la habitacion" type="number"/>
                    <span asp-validation-for="NumHabitacion" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NumCamasTotales"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NumCamasTotales" class="form-control" placeholder="Ingresa el numero de camas totales" type="number" />
                    <span asp-validation-for="NumCamasTotales" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group-row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>
        
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}