@model BedCheck.Models.DTOs.HabitacionDto

@{
    ViewData["Title"] = "Editar Habitacion";
}

<br />
<br />
<h3 class="text-center">Editar habitacion</h3>
<form method="POST" asp-action="Edit">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NumHabitacion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NumHabitacion" class="form-control" placeholder="Ingresa el numero de la habitacion" type="number" />
                    <span asp-validation-for="NumHabitacion" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NumCamasTotales"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NumCamasTotales" class="form-control" placeholder="Ingresa el numero de camas totales" type="number" />
                    <span asp-validation-for="NumCamasTotales" class="text-danger"></span>
                </div>
            </div>

            <br />
            <br />

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Editar Habitacion</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atrás</a>
                </div>
            </div>

     
        </div>

    </div>
</form>

@section Scripts {
    @{
                <partial name="_ValidationScriptsPartial" />
    }
}