name: CI/CD BedCheck

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Instalar .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restaurar dependencias
      run: dotnet restore

    - name: Compilar proyecto
      run: dotnet build --no-restore --configuration Release

    - name: Ejecutar Tests
      run: dotnet test --no-build --verbosity normal --configuration Release